<div
  class="flex min-h-0 w-full flex-col items-center justify-center bg-cover bg-left bg-no-repeat md:h-auto md:flex-1"
  style={`background-image: url(/footer.webp);`}
>
  <div
    class="flex flex-col items-center justify-center bg-[#D9D9D924] rounded-3xl p-8 max-w-6xl mx-auto gap-4 m-32 md:m-0"
  >
    <h1 class="text-2xl font-bold text-white text-center">ENCUENTRA A MASKOTTCHEN CERCA DE TI</h1>
    <p class="text-base text-white text-center">
      Busca el distribuidor más cercano y lleva Maskottchen a casa sin complicaciones.
    </p>
    <div class="flex flex-col md:flex-row items-center justify-center gap-8">
      <img src="/map.webp" alt="Map" class="w-full md:w-2/3 max-w-2xl object-contain" />
      <div class="flex flex-col items-center justify-center">
        <div
          class="flex flex-col items-center justify-center gap-2 border border-[#FFED00] rounded-t-2xl p-4 max-w-xl"
        >
          <h2 class="text-2xl font-bold text-[#D9B668] text-center">VETERINARIA VILLA VETER</h2>
          <p class="text-base text-white text-center">
            Domicilio #1234, Col Centro 44250, Guadalajara, Jalisco.
          </p>
        </div>
        <div
          class="border border-[#FFED00] rounded-b-2xl max-w-xl w-full p-4 text-center font-bold uppercase text-white"
        >
          Llamar
        </div>
      </div>
    </div>
  </div>
</div>
