---

---

<div
  class="flex h-[50dvh] w-full flex-shrink-0 flex-col items-center justify-center bg-cover bg-bottom-left bg-no-repeat md:h-[80vh]"
  style={`background-image: url(/products.webp);`}
>
</div>
