---
import Layout from "../../layouts/Layout.astro";
import ProductDetailPage from "../../components/products/ProductDetailPage";
---

<Layout title="Producto">
  <div class="relative isolate min-h-0 overflow-hidden bg-white">
    <div class="pointer-events-none absolute inset-0 overflow-hidden" aria-hidden="true">
      <img
        src="/paw.webp"
        alt=""
        class="absolute -left-16 top-8 w-48 rotate-[-20deg] opacity-25 md:w-64"
      />
      <img
        src="/paw.webp"
        alt=""
        class="absolute -right-12 bottom-16 w-40 rotate-[15deg] opacity-25 md:w-56"
      />
      <img
        src="/paw.webp"
        alt=""
        class="absolute left-[45%] top-[55%] w-32 rotate-[30deg] opacity-20 md:w-44"
      />
    </div>

    <article class="relative z-10 mx-auto max-w-6xl px-4 py-10 md:px-8 md:py-14">
      <p class="mb-8 mt-8 md:mb-10 md:mt-16">
        <a
          href="/productos"
          class="text-sm font-medium text-neutral-600 underline decoration-neutral-400/80 underline-offset-2 hover:text-black"
        >
          ← Volver a productos
        </a>
      </p>

      <ProductDetailPage client:only="react" />
    </article>
  </div>
</Layout>
