---

---

<div
  class="gap-4 bg-center bg-center bg-cover bg-no-repeat"
  style={`background-image: url(/nutrition.webp);`}
>
  <div class="max-w-6xl flex items-center justify-end mx-auto h-100 p-16">
    <div class="max-w-md">
      <h2 class="text-2xl font-bold text-center">MAYOR NUTRICIÓN</h2>
      <p class="text-center">
        Maskottchen es un alimento sumamente completo que incluye un porcentaje de verduras, carne,
        minerales y vitaminas que son vitales para el crecimiento óptimo de tu mascota
      </p>
    </div>
  </div>
</div>
