---

---

<div class="flex flex-col items-center justify-center gap-4 bg-[#FFEA65] p-16">
  <img src="/black_paw.webp" alt="Passion" class="w-20 h-20 object-contain" />
  <h2 class="text-2xl font-bold">
    PASIÓN Y COMPROMISO POR UNA NUTRICIÓN PREMIUM PARA PERROS FELICES
  </h2>
  <p>
    Maskottchen nace en Los Altos de Jalisco con una misión clara: ofrecer un alimento premium que
    cuide a los perros como se merecen.
  </p>
  <p>
    Cada producto refleja nuestro compromiso con la calidad, la nutrición y el bienestar animal.
  </p>
</div>
