---

---

<div
  class="gap-4 bg-top-left bg-cover bg-no-repeat"
  style={`background-image: url(/protein.webp);`}
>
  <div class="max-w-6xl flex items-center justify-start mx-auto h-100 p-16">
    <div class="max-w-md text-white">
      <h2 class="text-2xl font-bold text-center">ALTA PROTEÍNA</h2>
      <p class="text-center">
        Maskottchen contiene un alto valor proteico en cada porción, que sirve para que tu perro
        tenga un buen desarrollo muscular, lo que resulta en un perro más fuerte, más activo y más
        felíz.
      </p>
    </div>
  </div>
</div>
