---

---

<div
  class="gap-4 bg-left bg-top bg-cover bg-no-repeat"
  style={`background-image: url(/skin.webp);`}
>
  <div class="max-w-6xl flex items-center justify-end mx-auto h-100 p-16">
    <div class="max-w-md">
      <h2 class="text-2xl font-bold text-center">PIEL Y PELO SALUDABLES</h2>
      <p class="text-center">
        Gracias a las vitaminas y ácidos grasos de Maskottchen, tu perro disfrutará de un pelaje
        suave y brillante, que harán que tu mascota se sienta y se vea saludable.
      </p>
    </div>
  </div>
</div>
