---

---

<div class="group relative overflow-hidden">
  <div
    class="absolute inset-0 bg-top-left bg-cover bg-no-repeat transition-transform duration-700 ease-out group-hover:scale-110"
    style="background-image: url(/skin.webp);"
  >
  </div>

  <div class="relative max-w-6xl flex items-center justify-end mx-auto h-100 p-16">
    <div class="max-w-md transition-transform duration-500 ease-out group-hover:scale-110">
      <h2 class="text-2xl font-bold text-center">PIEL Y PELO SALUDABLES</h2>

      <p class="text-center">
        Gracias a las vitaminas y ácidos grasos de Maskottchen, tu perro disfrutará de un pelaje
        suave y brillante, que harán que tu mascota se sienta y se vea saludable.
      </p>
    </div>
  </div>
</div>
