---
import Attribute from "./Attribute.astro";
---

<div
  class="bg-[#FFEB00] w-full py-8 flex flex-wrap justify-center items-center md:items-start gap-16"
>
  <Attribute image="/nutricion.png" title="Nutrición Balanceada" />
  <Attribute image="/palatabilidad.png" title="Alta palatabilidad" />
  <Attribute image="/calidad.png" title="Calidad a precio justo" />
  <Attribute image="/mexico.png" title="Hecho en México" />
</div>
