---
import { primaryButtonLinkClass } from "../lib/primaryButtonClasses";

const {
  href,
  label,
  className = "",
} = Astro.props as {
  href: string;
  label: string;
  className?: string;
};
---

<a
  href={href}
  class={`${primaryButtonLinkClass} ${className}`}
>
  {label}
</a>
